@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'settings';

// content

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-height: 100dvh;
  display: flex;
  flex-direction: column; 

  &.no-scroll {
    overflow: hidden;
  }
}

.cookie-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f5f5f5;
  padding: 1rem;
  text-align: center;
  z-index: 1000;
}

h1 {
  @include value(font-size, 54px, 50px, 32px);
  font-family: bebas;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 4px;
}

h2 {
  @include value(font-size, 38px, 34px, 26px);
  font-family: barlow; 
  font-weight: bold;
}

h3 {
  @include value(font-size, 34px, 30px, 24px);
  font-family: barlow; 
  font-weight: bold;
}

p, .p {
  font-family: barlow; 
  &:not(.caption) {
    &:not(.p-large) {
      @include value(font-size, 28px, 22px, 20px);
    }
    &.p-large {
      @include value(font-size, 32px, 28px, 24px);
    }
  }
  &.caption {
    @include value(font-size, 24px, 20px, 16px);
    color: #4b5563;
    transform: skewX(-6deg);
  }
  &.text-font-bebas {
    font-family: bebas !important;
    letter-spacing: 3px;
  }
}

a {
  font-family: barlow;
  transition: all .4s ease;
  position: relative;

  &:not(.link-sm) {
    @include value(font-size, 28px, 24px, 22px);
  }
  &.link-sm {
    @include value(font-size, 24px, 22px, 20px);
  }
  &.text-font-bebas {
    font-family: bebas !important;
    letter-spacing: 3px;
  }

  &:not(.card) {
    &:not(.btn):hover::after {
      @include value(width, 90%, 90%, 100%);
      background-color: $accent;
    }
  
    &::after {
      content: '';
      width: 0%;
      height: 1px;
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: black;
      transition: all .4s ease;
      left: 50%;
      transform: translateX(-50%);
    }
  
    &.link-intext::after {
      width: 100%;
    }
  
    &:hover {
     @include value(color, $accent, $accent, auto);
    }
  }
}

.btn {
  @include value(font-size, 30px, 26px, 24px);
  border: 2px solid black;
  border-radius: 5px;
  padding: 6px 32px;
  @include value(padding, 6px 32px, 6px 32px, 8px 32px);
  @include value(width, 180px, 160px, 140px);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;

  &:hover {
    border: 2px solid $accent;
  }
}

ul {
  @include value(font-size, 24px, 22px, 20px);
  @include value(padding-left, 48px, 32px, 24px);

  li {
    list-style-type: disc;
    @include value(margin-top, 12px, 10px, 8px);
  }
}

.barlow {
  font-family: barlow;
}

.transition-custom {
  transition: all .4s ease;
}

.fluid-container {
  background: linear-gradient(to top, $primary, rgba($blue-1, 0.4));
}
.container {
  margin: 0 auto;
  @include value(max-width, 1300px, 700px, 370px);
  width: 100%;
}


// XS values (no mixin)
.space-before-0 {
  margin-top: 60px;
}

.space-before-1 {
  margin-top: 80px;
}

.space-before-2 {
  margin-top: 100px;
}

.space-before-3 {
  margin-top: 120px;
}

.space-before-4 {
  margin-top: 160px;
}

.space-after-0 {
  margin-bottom: 60px;
}

.space-after-1 {
  margin-bottom: 80px;
}

.space-after-2 {
  margin-bottom: 100px; 
}

.space-after-3 {
  margin-bottom: 120px;
}

.space-after-4 {
  margin-bottom: 160px;
}

// XL values (using mixin)
.xl-space-before-0 {
  @include value-xl(margin-top, 60px); 
}

.xl-space-before-1 {
  @include value-xl(margin-top, 80px); 
}

.xl-space-before-2 {
  @include value-xl(margin-top, 100px); 
}

.xl-space-before-3 {
  @include value-xl(margin-top, 120px);
}

.xl-space-before-4 {
  @include value-xl(margin-top, 160px); 
}

.xl-space-after-0 {
  @include value-xl(margin-bottom, 60px); 
}

.xl-space-after-1 {
  @include value-xl(margin-bottom, 80px); 
}

.xl-space-after-2 {
  @include value-xl(margin-bottom, 100px);
}

.xl-space-after-3 {
  @include value-xl(margin-bottom, 120px); 
}

.xl-space-after-4 {
  @include value-xl(margin-bottom, 160px);
}

input[type="checkbox"] {
  &:focus {
    outline: none;
  }
}