@font-face {
  font-family: "barlow";
  src: url("/Fonts/Barlow-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "barlow-light";
  src: url("/Fonts/Barlow-Light.ttf") format("truetype");
}
@font-face {
  font-family: "bebas";
  src: url("/Fonts/BebasNeue-Regular.ttf") format("truetype");
}
#Datenschutz h2 {
  font-family: bebas;
  letter-spacing: 2px;
}
@media (min-width: 1400px) {
  #Datenschutz h2 {
    font-size: 36px;
  }
}
@media (max-width: 1399px) {
  #Datenschutz h2 {
    font-size: 32px;
  }
}
@media (max-width: 767px) {
  #Datenschutz h2 {
    font-size: 24px;
  }
}
@media (min-width: 1400px) {
  #Datenschutz h2 {
    margin-top: 64px;
  }
}
@media (max-width: 1399px) {
  #Datenschutz h2 {
    margin-top: 54px;
  }
}
@media (max-width: 767px) {
  #Datenschutz h2 {
    margin-top: 40px;
  }
}
@media (min-width: 1400px) {
  #Datenschutz h2 {
    margin-bottom: 28px;
  }
}
@media (max-width: 1399px) {
  #Datenschutz h2 {
    margin-bottom: 24px;
  }
}
@media (max-width: 767px) {
  #Datenschutz h2 {
    margin-bottom: 20px;
  }
}
@media (min-width: 1400px) {
  #Datenschutz h3 {
    font-size: 32px;
  }
}
@media (max-width: 1399px) {
  #Datenschutz h3 {
    font-size: 26px;
  }
}
@media (max-width: 767px) {
  #Datenschutz h3 {
    font-size: 22px;
  }
}
@media (min-width: 1400px) {
  #Datenschutz h3 {
    margin-top: 48px;
  }
}
@media (max-width: 1399px) {
  #Datenschutz h3 {
    margin-top: 38px;
  }
}
@media (max-width: 767px) {
  #Datenschutz h3 {
    margin-top: 28px;
  }
}
@media (min-width: 1400px) {
  #Datenschutz h3 {
    margin-bottom: 24px;
  }
}
@media (max-width: 1399px) {
  #Datenschutz h3 {
    margin-bottom: 20px;
  }
}
@media (max-width: 767px) {
  #Datenschutz h3 {
    margin-bottom: 18px;
  }
}
@media (min-width: 1400px) {
  #Datenschutz h4 {
    font-size: 28px;
  }
}
@media (max-width: 1399px) {
  #Datenschutz h4 {
    font-size: 24px;
  }
}
@media (max-width: 767px) {
  #Datenschutz h4 {
    font-size: 20px;
  }
}
@media (min-width: 1400px) {
  #Datenschutz h4 {
    margin-top: 24px;
  }
}
@media (max-width: 1399px) {
  #Datenschutz h4 {
    margin-top: 16px;
  }
}
@media (max-width: 767px) {
  #Datenschutz h4 {
    margin-top: 16px;
  }
}
@media (min-width: 1400px) {
  #Datenschutz h4 {
    margin-bottom: 16px;
  }
}
@media (max-width: 1399px) {
  #Datenschutz h4 {
    margin-bottom: 16px;
  }
}
@media (max-width: 767px) {
  #Datenschutz h4 {
    margin-bottom: 16px;
  }
}
@media (min-width: 1400px) {
  #Datenschutz p {
    font-size: 20px;
  }
}
@media (max-width: 1399px) {
  #Datenschutz p {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  #Datenschutz p {
    font-size: 16px;
  }
}
#Datenschutz a {
  text-decoration: underline;
}
@media (min-width: 1400px) {
  #Datenschutz a {
    font-size: 20px;
  }
}
@media (max-width: 1399px) {
  #Datenschutz a {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  #Datenschutz a {
    font-size: 16px;
  }
}
#Datenschutz a:after {
  width: 0;
}
@media (min-width: 1400px) {
  #Datenschutz ul {
    margin-bottom: 16px;
  }
}
@media (max-width: 1399px) {
  #Datenschutz ul {
    margin-bottom: 16px;
  }
}
@media (max-width: 767px) {
  #Datenschutz ul {
    margin-bottom: 16px;
  }
}
@media (min-width: 1400px) {
  #Datenschutz ul li {
    font-size: 20px;
  }
}
@media (max-width: 1399px) {
  #Datenschutz ul li {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  #Datenschutz ul li {
    font-size: 16px;
  }
}/*# sourceMappingURL=datenschutz.css.map */